version: "3"

services:
  launcher:
    build:
      context: .
    ports:
      - "${PUBLIC_PORT}:8080"
    environment:
      - FLAG=${FLAG}
      - LAUNCHER_PORT=8080
      - EVM_VERSION=${EVM_VERSION}
      - PUBLIC_PORT=${PUBLIC_PORT}
      - CHALLENGE_NAME=${CHALLENGE_NAME}
    deploy:
      resources:
        limits:
          cpus: "1.0"
